---
import Stats from '../components/Stats.astro'
import Features from '../components/Features.astro'
import HeroSection from '../components/HeroSection.astro'
import Layout from '../layouts/Layout.astro'
import CallToAction from '../components/CallToAction.astro'
import FAQ from '../components/FAQ.astro'
---

<Layout title="Eureka - Your IT Solution">
	<main class="mb-40 space-y-40">
		<HeroSection />
		<Features />
		<Stats />
		<CallToAction />
		<FAQ />
	</main>
</Layout>
