<footer class="bg-gradient-to-b from-transparent to-gray-100 py-12">
	<div class="mx-auto max-w-6xl px-6 md:px-12 lg:px-6 xl:px-0">
		<a href="#home" aria-label="logo" class="flex items-center justify-center space-x-2">
			<div aria-hidden="true" class="flex flex-col space-y-0.5">
				<img src="./images/logo.png" class="mx-auto h-10 w-auto" />
			</div>
			<span class="text-2xl font-bold text-gray-900">Eureka</span>
		</a><ul role="list" class="mt-12 flex flex-wrap items-center justify-center gap-4 py-4 text-gray-600 sm:gap-8">
			<li role="listitem">
				<a href="/#home" class="duration-300 hover:text-primary"> Home </a>
			</li>
			<li role="listitem">
				<a href="/#features" class="duration-300 hover:text-primary"> Features </a>
			</li>
			<li role="listitem">
				<a href="/#solution" class="duration-300 hover:text-primary"> Solution </a>
			</li>
			<li role="listitem">
				<a href="/#faqs" class="duration-300 hover:text-primary"> FAQs </a>
			</li>
			<li role="listitem">
				<a href="https://eureka-erp.sg.larksuite.com/share/base/form/shrlgdDjlUlXmyAEDaoSgxcPPSc" target="_blank" rel="noopener,noreferrer" class="duration-300 hover:text-primary"> Contact Us </a>
			</li>
		</ul>
		<div class="m-auto mt-4 flex w-max flex-col items-center justify-center space-y-4 text-gray-500">
			<p class="text-center">Eureka Indonesia <br /> Jakarta Barat, DKI Jakarta <br /> Indonesia 11470</p>
			<p class="text-center"><a href="mailto:contact@eureka-erp.com">contact@eureka-erp.com</a></p>
			<!-- <p class="text-center">+6281802803970</p> -->
		</div>
		<div class="mt-12 text-center">
			<span class="text-sm tracking-wide text-gray-500">Copyright © Eureka 2024 - Present | All rights reserved</span>
		</div>
	</div>
</footer>
