---
import Container from './Container.astro'
import { Image } from 'astro:assets'
import ShineBorder from '@ui/ShineBorderUI.astro'
import scalabilityIcon from '../../public/images/icons/scalability.svg'
import supportIcon from '../../public/images/icons/support.svg'
import userCenteredIllustration from '../../public/images/icons/user-centered.svg'
---

<div id="features">
	<Container>
		<div class="mx-auto md:w-3/5">
			<h2 class="text-center text-3xl font-bold text-gray-900 md:text-4xl lg:text-5xl">Shaped to meet your needs</h2>
			<p class="mt-4 text-center text-gray-600">Tailored to fit your unique business challenges. We customize every aspect to ensure seamless integration and maximum efficiency. Experience a partnership designed to grow with you.</p>
		</div>
		<div class="mt-16 md:mt-20">
			<ShineBorder>
				<div class="relative grid rounded-3xl p-1 lg:grid-cols-2">
					<div class="absolute inset-0 hidden h-max lg:my-auto">
						<div aria-hidden="true" class="grid grid-cols-2 -space-x-52 opacity-50 2xl:mx-auto 2xl:max-w-6xl">
							<div class="h-60 bg-gradient-to-br from-primary to-purple-400 blur-3xl"></div>
							<div class="h-72 rounded-full bg-gradient-to-r from-cyan-400 to-sky-300 blur-3xl"></div>
						</div>
					</div>
					<div>
						<div class="relative flex h-full flex-col items-center justify-center gap-6 p-8 py-16 lg:py-8">
							<Image src={userCenteredIllustration} alt="User Centered" class="w-16" width="512" height="512" loading="lazy" />
							<div class="mx-auto text-center sm:w-2/5">
								<h2 class="text-xl font-semibold text-gray-900">User-centered</h2>
								<p class="mt-3 text-gray-600">Designed with your team in mind, ensuring an intuitive and efficient user experience.</p>
							</div>
						</div>
					</div>
					<div class="relative grid overflow-hidden rounded-[1.25rem] bg-gray-100 p-1 sm:grid-cols-2">
						<div class="flex flex-col gap-6 rounded-2xl p-8 transition duration-300 hover:bg-white hover:shadow-2xl hover:shadow-gray-600/10">
							<div class="flex h-10 w-10 rounded border border-gray-200">
								<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="m-auto h-6 w-6 text-gray-700">
									<path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75L11.25 15 15 9.75m-3-7.036A11.959 11.959 0 013.598 6 11.99 11.99 0 003 9.749c0 5.592 3.824 10.29 9 11.623 5.176-1.332 9-6.03 9-11.622 0-1.31-.21-2.571-.598-3.751h-.152c-3.196 0-6.1-1.248-8.25-3.285z"></path>
								</svg>
							</div>
							<div>
								<h2 class="text-xl font-semibold text-gray-900">Security first</h2>
								<p class="mt-3 text-gray-600">Robust security measures to protect your data and ensure peace of mind.</p>
							</div>
						</div>

						<div class="flex flex-col gap-6 rounded-2xl p-8 transition duration-300 hover:bg-white hover:shadow-2xl hover:shadow-gray-600/10">
							<div class="flex h-10 w-10 rounded border border-gray-200">
								<Image src={scalabilityIcon} alt="Scalability" class="m-auto h-6 w-6 text-gray-700" />
							</div>
							<div>
								<h2 class="text-xl font-semibold text-gray-900">Scalability</h2>
								<p class="mt-3 text-gray-600">Grow your business with ease using our adaptable and scalable solutions.</p>
							</div>
						</div>

						<div class="flex flex-col gap-6 rounded-2xl p-8 transition duration-300 hover:bg-white hover:shadow-2xl hover:shadow-gray-600/10">
							<div class="flex h-10 w-10 rounded border border-gray-200">
								<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="m-auto h-6 w-6 text-gray-700">
									<path stroke-linecap="round" stroke-linejoin="round" d="M3.75 13.5l10.5-11.25L12 10.5h8.25L9.75 21.75 12 13.5H3.75z"></path>
								</svg>
							</div>
							<div>
								<h2 class="text-xl font-semibold text-gray-900">Fast speed</h2>
								<p class="mt-3 text-gray-600">Optimized for lightning-fast performance to keep your operations running smoothly.</p>
							</div>
						</div>

						<div class="flex flex-col gap-6 rounded-2xl p-8 transition duration-300 hover:bg-white hover:shadow-2xl hover:shadow-gray-600/10">
							<div class="flex h-10 w-10 rounded border border-gray-200">
								<Image src={supportIcon} alt="Comprehensive Support" class="m-auto h-6 w-6 text-gray-700" />
							</div>
							<div>
								<h2 class="text-xl font-semibold text-gray-900">Comprehensive support</h2>
								<p class="mt-3 text-gray-600">Count on our expert team for your support and seamless issue resolution.</p>
							</div>
						</div>
					</div>
				</div>
			</ShineBorder>
		</div>
	</Container>
</div>
