---
import Container from './Container.astro'
import { Image } from 'astro:assets'
import headerImage from '../../public/images/header.png'
import bmvImage from '../../public/images/clients/bmv.png'
import wcmImage from '../../public/images/clients/wcm.png'
import sjmtImage from '../../public/images/clients/sjmt.png'
import kjcImage from '../../public/images/clients/kjc.png'
import mlImage from '../../public/images/clients/ml.png'
import vitImage from '../../public/images/clients/vit.png'

const clients = [
	{ src: bmvImage, alt: 'Boss Vape', class: 'normal-gray h-24 w-auto lg:h-36' },
	{ src: wcmImage, alt: 'Wilson Chu Music', class: 'custom-gray h-24 w-auto lg:h-36' },
	{ src: sjmtImage, alt: 'Surya Jaya Muliatama', class: 'custom-gray h-12 w-auto lg:h-36' },
	{ src: vitImage, alt: 'Vapor Indo Trimurti', class: 'normal-gray h-24 w-auto lg:h-72' },
	{ src: kjcImage, alt: 'Karya Jaya Ciptatehnik', class: 'custom-gray h-12 w-auto lg:h-36' },
	{ src: mlImage, alt: 'Musica Lumina', class: 'normal-gray h-12 w-auto lg:h-28' }
]
---

<div class="relative" id="home">
	<div aria-hidden="true" class="absolute inset-0 grid grid-cols-2 -space-x-52 opacity-40">
		<div class="h-56 bg-gradient-to-br from-primary to-blue-400 blur-[106px]"></div>
		<div class="h-32 bg-gradient-to-r from-cyan-400 to-sky-300 blur-[106px]"></div>
	</div>
	<Container>
		<div class="relative ml-auto pt-36">
			<div class="gap-12 md:flex md:items-center">
				<div class="text-center sm:px-12 md:w-2/3 md:px-0 md:text-left lg:w-1/2">
					<h1 class="text-5xl font-black md:text-6xl xl:text-7xl">
						Innovate beyond <span class="text-primary">horizon.</span>
					</h1>
					<div>
						<p class="mt-8 text-lg text-gray-700">Empower your enterprise with cutting-edge ERP solutions and dynamic IT services. We fuse creativity with efficiency to supercharge your digital transformation. Let's turn your wildest ideas into reality!</p>
					</div>
					<div class="mt-12 flex justify-center gap-4 sm:gap-6 md:justify-start">
						<a href="#features" class="relative flex h-11 w-full items-center justify-center px-6 before:absolute before:inset-0 before:rounded-full before:bg-primary before:transition before:duration-300 hover:before:scale-105 active:duration-75 active:before:scale-95 sm:w-max">
							<span class="relative text-base font-semibold text-white">Get started</span>
						</a>
						<a href="#call" class="relative flex h-11 w-full items-center justify-center px-6 before:absolute before:inset-0 before:rounded-full before:border before:border-transparent before:bg-primary/10 before:bg-gradient-to-b before:transition before:duration-300 hover:before:scale-105 active:duration-75 active:before:scale-95 sm:w-max">
							<span class="relative text-base font-semibold text-primary">Learn more</span>
						</a>
					</div>
				</div>

				<div class="relative mt-20 md:mt-0 md:w-2/5 lg:w-3/5">
					<div class="-ml-6 md:-mr-72 lg:mr-0">
						<Image src={headerImage} widths={[300, 600, 900, 1200]} sizes="(max-width: 640px) 100vw, (max-width: 768px) 80vw, (max-width: 1024px) 60vw, 50vw" alt="App screenshot" class="h-full w-full object-cover object-left" loading="eager" decoding="async" fetchpriority="high" format="avif" />
					</div>
				</div>
			</div>
			<div class="mx-auto text-center lg:w-2/3"></div>
			<div class="mt-8 text-center md:mt-32 lg:mt-20 xl:mt-16">
				<span class="text-m font-bold tracking-wider text-gray-900">TRUSTED BY OUR CLIENTS</span>
				<div class="mt-8 flex flex-wrap items-center justify-center gap-6 sm:gap-6 lg:gap-24">
					{
						clients.map((client) => (
							<div class="flex justify-center sm:w-auto">
								<Image class={client.class} src={client.src} loading="eager" alt={client.alt} />
							</div>
						))
					}
				</div>
			</div>
		</div>
	</Container>
</div>
