---
import Container from './Container.astro'
import WobbleCard from '@ui/WobbleCard.astro'
import { Image } from 'astro:assets'
import milestoneIllustration from '../../public/images/milestone.svg'
import analyticsIcon from '../../public/images/icons/analytics.svg'
import supportIcon from '../../public/images/icons/expert.svg'
---

<div id="solution">
	<Container>
		<div class="flex-row-reverse items-center justify-between space-y-12 text-gray-600 md:flex md:gap-6 lg:gap-12 lg:space-y-0">
			<div class="relative ml-auto h-full md:w-1/2">
				<Image src={milestoneIllustration} alt="Milestone" width="1174" height="1134" loading="lazy" />
			</div>

			<div class="md:w-1/2 lg:w-[47%]">
				<h2 class="text-3xl font-bold text-gray-900 md:text-4xl lg:text-5xl">Just focus on your business strategy</h2>
				<p class="my-12 text-gray-600">
					In today's fast-paced business environment, your time and resources are precious. Let us handle the complexities of your IT needs so you can concentrate on what you do best—driving your business forward. Our expert team provides tailored solutions that streamline your operations, enhance productivity, and ensure seamless integration across all platforms. <br /><br />
				</p>
				<div class="space-y-4 divide-y divide-gray-100">
					<div class="mt-8 flex gap-4 md:items-center">
						<div class="flex h-12 w-12 gap-4 rounded border border-gray-200">
							<Image src={supportIcon} alt="Support" class="m-auto h-6 w-6 text-gray-700" />
						</div>
						<div class="w-5/6">
							<h3 class="text-lg font-semibold text-gray-700">Expert Support</h3>
							<p class="text-gray-500">Always available to assist with any challenges, ensuring smooth operations.</p>
						</div>
					</div>
					<div class="flex gap-4 pt-4 md:items-center">
						<div class="flex h-12 w-12 gap-4 rounded border border-gray-200">
							<Image src={analyticsIcon} alt="Support" class="m-auto h-6 w-6 text-gray-700" />
						</div>
						<div class="w-5/6">
							<h3 class="text-lg font-semibold text-gray-700">Advanced Analytics</h3>
							<p class="text-gray-500">Leverage data-driven decisions with our powerful analytics tools.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="my-20 md:my-32">
			<h3 class="text-2xl font-bold text-gray-900 md:w-2/3 md:text-3xl lg:text-4xl">Elevate your business with our premier solutions</h3>
			<div class="relative mt-12 grid gap-6 sm:grid-cols-2 lg:grid-cols-3">
				<WobbleCard />
			</div>
		</div>
	</Container>
</div>
