---
import { WobbleCardComponent } from '@aceternityui/WobbleCard'
import { Image } from 'astro:assets'
import automationIcon from '../../../public/images/icons/automation.svg'
import erpIcon from '../../../public/images/icons/erp.svg'
import webIcon from '../../../public/images/icons/web.svg'
---

<WobbleCardComponent containerClassName="h-full min-h-[500px] lg:min-h-[300px]" className="">
	<Image src={webIcon} alt="Web Design & Development" class="w-14 mb-8" width="512" height="512" loading="lazy" />
	<div>
		<h2 class="text-balance text-left text-base font-semibold tracking-[-0.015em] text-white md:text-xl lg:text-3xl">Web Design & Development</h2>
		<p class="mt-4 text-left text-base/6 text-neutral-200">Create a powerful online presence with our cutting-edge web design and development services, tailored to your unique business needs.</p>
	</div>
</WobbleCardComponent>

<WobbleCardComponent containerClassName="h-full bg-blue-900 min-h-[500px] lg:min-h-[300px]" className="">
	<Image src={erpIcon} alt="ERP Solutions" class="w-14 mb-8" width="512" height="512" loading="lazy" />
	<div>
		<h2 class="text-balance text-left text-base font-semibold tracking-[-0.015em] text-white md:text-xl lg:text-3xl">ERP Solutions</h2>
		<p class="mt-4 text-left text-base/6 text-neutral-200">ERP (Enterprise Resource Planning) systems centralize and automate core business functions. Streamline your business processes and drive growth with our comprehensive ERP solutions, designed to seamlessly integrate and optimize your operations.</p>
	</div>
</WobbleCardComponent>

<WobbleCardComponent containerClassName="h-full bg-blue-600 min-h-[500px] lg:min-h-[300px]" className="">
	<Image src={automationIcon} alt="Intelligent Automation" class="w-14 mb-8" width="512" height="512" loading="lazy" />
	<div>
		<h2 class="text-balance text-left text-base font-semibold tracking-[-0.015em] text-white md:text-xl lg:text-3xl">Intelligent Automation</h2>
		<p class="mt-4 text-left text-base/6 text-neutral-200">Boost efficiency and reduce manual tasks with our intelligent automation solutions, leveraging the latest technology to transform your operations.</p>
	</div>
</WobbleCardComponent>
