---
import { WobbleCardComponent } from '@aceternityui/WobbleCard'
---

<WobbleCardComponent containerClassName="h-full min-h-[500px] lg:min-h-[300px]" className="">
	<!-- <img class="w-10" src="./images/card.webp" alt="payment card icon illustration" height="512" width="512" /> -->
	<div>
		<h2 class="text-balance text-left text-base font-semibold tracking-[-0.015em] text-white md:text-xl lg:text-3xl">Web Design & Development</h2>
		<p class="mt-4 text-left text-base/6 text-neutral-200">Create a powerful online presence with our cutting-edge web design and development services, tailored to your unique business needs.</p>
	</div>
</WobbleCardComponent>

<WobbleCardComponent containerClassName="h-full bg-blue-900 min-h-[500px] lg:min-h-[300px]" className="">
	<!-- <img class="w-10" src="./images/card.webp" alt="payment card icon illustration" height="512" width="512" /> -->
	<div>
		<h2 class="text-balance text-left text-base font-semibold tracking-[-0.015em] text-white md:text-xl lg:text-3xl">ERP Solutions</h2>
		<p class="mt-4 text-left text-base/6 text-neutral-200">ERP (Enterprise Resource Planning) systems centralize and automate core business functions. Streamline your business processes and drive growth with our comprehensive ERP solutions, designed to seamlessly integrate and optimize your operations.</p>
	</div>
</WobbleCardComponent>

<WobbleCardComponent containerClassName="h-full bg-blue-600 min-h-[500px] lg:min-h-[300px]" className="">
	<!-- <img class="w-10" src="./images/card.webp" alt="payment card icon illustration" height="512" width="512" /> -->
	<div>
		<h2 class="text-balance text-left text-base font-semibold tracking-[-0.015em] text-white md:text-xl lg:text-3xl">Intelligent Automation</h2>
		<p class="mt-4 text-left text-base/6 text-neutral-200">Boost efficiency and reduce manual tasks with our intelligent automation solutions, leveraging the latest technology to transform your operations.</p>
	</div>
</WobbleCardComponent>
